body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:62px;
  width:360px;
  height:620px;
  display:flex;
  font-size:14px;
  color:#E4E4E4;
}
#u3592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:645px;
  width:360px;
  height:47px;
  display:flex;
}
#u3593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:38px;
  width:360px;
  height:24px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u3596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
  line-height:13px;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:44px;
  width:34px;
  height:14px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
  line-height:13px;
}
#u3597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3597_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:42px;
  width:19px;
  height:16px;
  display:flex;
}
#u3598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:42px;
  width:16px;
  height:16px;
  display:flex;
}
#u3599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:601px;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:44px;
  width:360px;
  height:601px;
  display:flex;
}
#u3600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:91px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:555px;
  width:360px;
  height:91px;
  display:flex;
}
#u3601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:74px;
  width:24px;
  height:24px;
  display:flex;
  opacity:0.600000023841858;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:79px;
  width:56px;
  height:16px;
  display:flex;
  color:#F59A23;
}
#u3603 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:2px;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:86px;
  width:38px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.618643526072358deg);
  -moz-transform:rotate(-0.618643526072358deg);
  -ms-transform:rotate(-0.618643526072358deg);
  transform:rotate(-0.618643526072358deg);
}
#u3604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:344px;
  width:67px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.123857176058241deg);
  -moz-transform:rotate(-0.123857176058241deg);
  -ms-transform:rotate(-0.123857176058241deg);
  transform:rotate(-0.123857176058241deg);
}
#u3605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:337px;
  width:140px;
  height:16px;
  display:flex;
  color:#F59A23;
}
#u3606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
