body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u3483 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:62px;
  width:360px;
  height:620px;
  display:flex;
  font-size:14px;
  color:#E4E4E4;
}
#u3483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
}
#u3484 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:645px;
  width:360px;
  height:47px;
  display:flex;
}
#u3484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3487 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:38px;
  width:360px;
  height:24px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u3487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
  line-height:13px;
}
#u3488 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:44px;
  width:34px;
  height:14px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
  line-height:13px;
}
#u3488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u3489 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:42px;
  width:19px;
  height:16px;
  display:flex;
}
#u3489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3490 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:42px;
  width:16px;
  height:16px;
  display:flex;
}
#u3490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:601px;
}
#u3491 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:44px;
  width:360px;
  height:601px;
  display:flex;
}
#u3491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:91px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3492 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:555px;
  width:360px;
  height:91px;
  display:flex;
}
#u3492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3493 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:74px;
  width:24px;
  height:24px;
  display:flex;
  opacity:0.600000023841858;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u3494 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:79px;
  width:56px;
  height:16px;
  display:flex;
  color:#F59A23;
}
#u3494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3494_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:2px;
}
#u3495 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:86px;
  width:38px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.618643526072358deg);
  -moz-transform:rotate(-0.618643526072358deg);
  -ms-transform:rotate(-0.618643526072358deg);
  transform:rotate(-0.618643526072358deg);
}
#u3495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u3496 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:344px;
  width:67px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.123857176058241deg);
  -moz-transform:rotate(-0.123857176058241deg);
  -ms-transform:rotate(-0.123857176058241deg);
  transform:rotate(-0.123857176058241deg);
}
#u3496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u3497 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:337px;
  width:140px;
  height:16px;
  display:flex;
  color:#F59A23;
}
#u3497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3497_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
