body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:62px;
  width:360px;
  height:620px;
  display:flex;
  font-size:14px;
  color:#E4E4E4;
}
#u3610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:47px;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:645px;
  width:360px;
  height:47px;
  display:flex;
}
#u3611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:38px;
  width:360px;
  height:24px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u3614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
  line-height:13px;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:44px;
  width:34px;
  height:14px;
  display:flex;
  font-size:13px;
  color:#FFFFFF;
  line-height:13px;
}
#u3615 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3615_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:42px;
  width:19px;
  height:16px;
  display:flex;
}
#u3616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:42px;
  width:16px;
  height:16px;
  display:flex;
}
#u3617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:106px;
  width:360px;
  height:540px;
  display:flex;
}
#u3618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:74px;
  width:24px;
  height:24px;
  display:flex;
  opacity:0.600000023841858;
  font-family:'微軟正黑體', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:79px;
  width:56px;
  height:16px;
  display:flex;
  color:#F59A23;
}
#u3620 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3620_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:2px;
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:86px;
  width:38px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.618643526072358deg);
  -moz-transform:rotate(-0.618643526072358deg);
  -ms-transform:rotate(-0.618643526072358deg);
  transform:rotate(-0.618643526072358deg);
}
#u3621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:2px;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:81px;
  width:37px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.123857176058241deg);
  -moz-transform:rotate(-0.123857176058241deg);
  -ms-transform:rotate(-0.123857176058241deg);
  transform:rotate(-0.123857176058241deg);
}
#u3622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:74px;
  width:140px;
  height:16px;
  display:flex;
  color:#F59A23;
}
#u3623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3623_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:68px;
  width:27px;
  height:27px;
  display:flex;
}
#u3624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:70px;
  width:23px;
  height:25px;
  display:flex;
}
#u3625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:19px;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:74px;
  width:80px;
  height:19px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:19px;
}
#u3626 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:2px;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:449px;
  width:302px;
  height:1px;
  display:flex;
}
#u3627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:2px;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:132px;
  width:84px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.123857176058241deg);
  -moz-transform:rotate(-0.123857176058241deg);
  -ms-transform:rotate(-0.123857176058241deg);
  transform:rotate(-0.123857176058241deg);
}
#u3628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:125px;
  width:112px;
  height:16px;
  display:flex;
  color:#F59A23;
}
#u3629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:2px;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:115px;
  width:33px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-90.0957169178667deg);
  -moz-transform:rotate(-90.0957169178667deg);
  -ms-transform:rotate(-90.0957169178667deg);
  transform:rotate(-90.0957169178667deg);
}
#u3630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
